*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
android-sdk.zip
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml