<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iitp.njack.iitp_connect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".IITPConnectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".IITPConnectProvider"
            android:authorities="com.iitp.njack.iitp_connect" />

        <activity
            android:name=".core.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.calendar.list.CodingCalendarActivity"
            android:label="@string/coding_calendar"
            android:parentActivityName=".core.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.home.HomeActivity" />
        </activity>
        <activity
            android:name=".core.calendar.detail.ContestDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.calendar.list.CodingCalendarActivity" />
        </activity>

        <!-- <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/> -->

        <activity android:name=".core.profile.ProfileActivity"/>
        <activity android:name=".core.youtube.VideoActivity" />
        <activity android:name=".core.youtube.VideoPlayActivity" />
        <activity android:name=".core.youtube.YoutubeActivity" />
        <activity android:name=".core.profile.ProfileActivity" />
        <activity android:name=".core.timetable.TimeTableActivity"></activity>
    </application>

</manifest>
